<!--<a id="alipay<%= payment_method.id %>" payment_method_id="<%= payment_method.id %>" ><img src="<%= payment_method.preferences[:iconUrl] %>" width="42" /></a>-->
<script>
    var id = "<%= payment_method.id %>";
    $('#alipay' + id).click(function(e){
        $.ajax({
            url: '/alipay/checkout.json?payment_method_id=' + $(this).attr('payment_method_id'),
            dataType: 'JSON',
            type: 'GET',
            success: function(response){
                window.location.href = response.url;
            },
            error: function(){}
        });
    });
</script>