<div id='alipay-warning' style="display:none">
  <strong><%= Spree.t('no_payment_via_admin_backend', :scope => 'alipay') %></strong>
</div>
<script>
    SpreeAlipay.paymentMethodID = "<%= payment_method.id %>"
</script>